AssembleAndSchedule/backend/src/uploadedFiles/e1de77fca6b11a92f7ecaa52ebbb4f3d
[{"id":"4c259874a7fb723c","type":"tab","label":"Azure","disabled":false,"info":""},{"id":"253474c140e97b38","type":"group","z":"4c259874a7fb723c","name":"send to Azure","style":{"fill":"#7fb7df","fill-opacity":"0.5","label":true,"color":"#3f3f3f"},"nodes":["71120dae.809004","7e09b6d0.464dc8","96637c33.fce11","22356c9b.b22494","9c1951f4.4e3f8","152ee560.abadfb","ec435aa6.d8dda8","a0eab05b.6b5ba","a3a3221e.27691","32687cad.cd10a4","697b15ba.8a01bc","96a6e3e0.6e1c4","3d275755.2f84c8","3cc9e3e9.4dd07c","a22e08cd.e5a158","9bca80c9.a2f5","de67b557.0dcb18","2289ff4f.eeb2f","db017649.99ce88","780f3479.2201ec","739249bd.4d5958","8d43407f081ccda2","507739a3.f21ab8","aefc1a45.1654d8","dce9cde3.abc45","1b790c0a.fb8864","11b654f6.47b4db","89cf8506.77e1a8","cffb32.6bfdb4d","aaced647.f30b08","69fdbf88.8f91f","fc8c847f.828be8","7d5ab5d0.da2e9c","89395c086bee1d80","452b799d8075aba2","e155abd207ecd666","2713fd5bc71fc622","ccd9bd678fa46efc","83d77a74ce8b2128","fb5925f160ad79df","8477cf4e90f93e5a","b3e8d2469b6f2ea9","7946c04577a9a3d2","052774324f3f12de","b2ae37a0ba25be7d"],"x":34,"y":599,"w":3792,"h":802},{"id":"4173b511253aa7b1","type":"group","z":"4c259874a7fb723c","name":"monitor /home/pi/share/locate/sending directory","style":{"label":true,"fill":"#c8e7a7","fill-opacity":"0.5","color":"#3f3f3f"},"nodes":["75b44372.d3f3fc","f9fb33dd.16c06","d9b5334d.3310e","e9df7053.1b371","13fcfdc8.82be82","448a2285.fe00ec","ba96459f.d5cd98","626fb033.02094","36ab7bca.4019d4","ee8daaf0.01d168","437bcc50.747c94","f33c14a9.18fae8","25ecad4b.8aebd2","b60e0cd4.b03dd","88a15a3a.bd8cf8","249cc735.d92e88","eef80131.9f733","d3fec01f.aa484","ea2acf09d9efb24b","7c37cac325eb7947","455b2c4ea15e4e6c","7456754dd085a89d","d0839bb896c8bfee","f9be834ba8eaa3ee","6f67eb4c14c936f4"],"x":34,"y":199,"w":2972,"h":302},{"id":"e4f38f86b2a4cd81","type":"group","z":"4c259874a7fb723c","name":"initialize flow variables","style":{"label":true,"fill":"#d1d1d1","fill-opacity":"0.5","color":"#3f3f3f"},"nodes":["8b15ca28.4ac8e8","8976295d.0c0c88"],"x":34,"y":19,"w":412,"h":82},{"id":"75b44372.d3f3fc","type":"link out","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"send to azure db","links":["9c1951f4.4e3f8"],"x":2495,"y":320,"wires":[]},{"id":"f9fb33dd.16c06","type":"inject","z":"4c259874a7fb723c","d":true,"g":"4173b511253aa7b1","name":"Inject every 5 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":320,"wires":[["36ab7bca.4019d4"]]},{"id":"d9b5334d.3310e","type":"fs-ops-dir","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"read directory /home/pi/share/locate/sending/","path":"/home/pi/share/locate/sending/","pathType":"str","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":1050,"y":320,"wires":[["7c37cac325eb7947"]]},{"id":"e9df7053.1b371","type":"template","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"create the filepath","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/share/locate/sending/{{targetfile}}","output":"str","x":2130,"y":320,"wires":[["13fcfdc8.82be82"]]},{"id":"13fcfdc8.82be82","type":"file in","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"read file contents","filename":"","format":"utf8","chunk":false,"sendError":false,"allProps":false,"x":2350,"y":320,"wires":[["75b44372.d3f3fc"]]},{"id":"448a2285.fe00ec","type":"comment","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"to make sure we don't attempt to send more than one file at at time we also set a flag","info":"","x":390,"y":280,"wires":[]},{"id":"ba96459f.d5cd98","type":"comment","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"if we have a valid object we send it to azure","info":"","x":2360,"y":280,"wires":[]},{"id":"626fb033.02094","type":"change","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"remember the file's name","rules":[{"t":"set","p":"latestFilename","pt":"flow","to":"targetfile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":320,"wires":[["e9df7053.1b371"]]},{"id":"8b15ca28.4ac8e8","type":"inject","z":"4c259874a7fb723c","g":"e4f38f86b2a4cd81","name":"on boot","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":140,"y":60,"wires":[["8976295d.0c0c88"]]},{"id":"36ab7bca.4019d4","type":"switch","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"already sending?","property":"sendingToAzure","propertyType":"flow","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":320,"wires":[["ee8daaf0.01d168"],["f33c14a9.18fae8"]]},{"id":"8976295d.0c0c88","type":"change","z":"4c259874a7fb723c","g":"e4f38f86b2a4cd81","name":"initialize local vars","rules":[{"t":"set","p":"sendingToAzure","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"ee8daaf0.01d168","type":"change","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"set ourselves as sending to azure","rules":[{"t":"set","p":"sendingToAzure","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"azureSendAttemptsCounter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":320,"wires":[["d9b5334d.3310e"]]},{"id":"437bcc50.747c94","type":"comment","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"periodically check the directory for a file to send","info":"","x":260,"y":240,"wires":[]},{"id":"f33c14a9.18fae8","type":"function","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"increase a counter and check for azure sending release","func":"// remember how many failed attempts we had with azure\nlet azureSendAttemptsCounter = flow.get('azureSendAttemptsCounter') || 0;\n\n// incrase by one\nazureSendAttemptsCounter = azureSendAttemptsCounter + 1;\n\n// save our new value\nflow.set('azureSendAttemptsCounter', azureSendAttemptsCounter);\n\n// did we exceed some threshold? if so, allow the message to pass\nif (azureSendAttemptsCounter > 10) {\n    return msg;\n}\n\n// otherwise, stop here\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":360,"wires":[["25ecad4b.8aebd2","f9be834ba8eaa3ee"]]},{"id":"25ecad4b.8aebd2","type":"change","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"un-latch the send to azure","rules":[{"t":"set","p":"sendingToAzure","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"azureSendAttemptsCounter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":360,"wires":[["d0839bb896c8bfee"]]},{"id":"71120dae.809004","type":"database-entry","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"send to Azure","x":480,"y":860,"wires":[["7e09b6d0.464dc8","9bca80c9.a2f5","7946c04577a9a3d2"]]},{"id":"7e09b6d0.464dc8","type":"debug","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"Azure Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":840,"wires":[]},{"id":"96637c33.fce11","type":"catch","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"catch azure errors","scope":["71120dae.809004"],"uncaught":false,"x":1110,"y":840,"wires":[["aefc1a45.1654d8"]]},{"id":"22356c9b.b22494","type":"switch","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"was there an error?","property":"payload.results.code","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":880,"wires":[["507739a3.f21ab8"],["a22e08cd.e5a158"]]},{"id":"9c1951f4.4e3f8","type":"link in","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"prepare for azure db","links":["75b44372.d3f3fc"],"x":115,"y":860,"wires":[["8d43407f081ccda2","b3e8d2469b6f2ea9"]]},{"id":"152ee560.abadfb","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"now that we have some data to send we can actually begin the send to azure process","info":"","x":360,"y":760,"wires":[]},{"id":"ec435aa6.d8dda8","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"we add some credentials and pass the whole thing into the azure node","info":"","x":350,"y":800,"wires":[]},{"id":"a0eab05b.6b5ba","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"there are three possible responses from azure","info":"","x":930,"y":640,"wires":[]},{"id":"a3a3221e.27691","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"no response means there was a firewall or connection issue - in this situation we let the counter above un-latch us","info":"","x":1140,"y":680,"wires":[]},{"id":"32687cad.cd10a4","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"payload.results.code means error on azure's end. we capture the error and log it. any other result means we had a successful send!","info":"","x":1200,"y":720,"wires":[]},{"id":"697b15ba.8a01bc","type":"fs-ops-delete","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"no errors, so delete the old file","path":"/home/pi/share/locate/sending/","pathType":"str","filename":"targetfile","filenameType":"msg","x":1590,"y":880,"wires":[["96a6e3e0.6e1c4"]]},{"id":"96a6e3e0.6e1c4","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"set ourselves as not sending to azure","rules":[{"t":"set","p":"sendingToAzure","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":880,"wires":[["2289ff4f.eeb2f","052774324f3f12de"]]},{"id":"3d275755.2f84c8","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"for a success we delete the text file and then un-latch ourselves so we can send another file","info":"","x":1070,"y":760,"wires":[]},{"id":"3cc9e3e9.4dd07c","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"if there was an error, we log it, move the file, and keep the text file so we can try again later","info":"","x":1070,"y":800,"wires":[]},{"id":"a22e08cd.e5a158","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"grab the file name","rules":[{"t":"set","p":"targetfile","pt":"msg","to":"latestFilename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":880,"wires":[["697b15ba.8a01bc"]]},{"id":"88a15a3a.bd8cf8","type":"catch","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"catch file read in errors","scope":["13fcfdc8.82be82"],"uncaught":false,"x":2140,"y":420,"wires":[["249cc735.d92e88"]]},{"id":"249cc735.d92e88","type":"change","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"grab the corrupt file's name","rules":[{"t":"set","p":"filename","pt":"msg","to":"latestFilename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2400,"y":420,"wires":[["eef80131.9f733","d3fec01f.aa484"]]},{"id":"eef80131.9f733","type":"debug","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"debug that a file was moved","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2680,"y":420,"wires":[]},{"id":"d3fec01f.aa484","type":"fs-ops-move","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"oops, move the file into an error folder for debugging later","sourcePath":"/home/pi/share/locate/sending/","sourcePathType":"str","sourceFilename":"latestFilename","sourceFilenameType":"flow","destPath":"/home/pi/share/locate/sendFailures/","destPathType":"str","destFilename":"latestFilename","destFilenameType":"flow","link":false,"x":2770,"y":460,"wires":[[]]},{"id":"b60e0cd4.b03dd","type":"comment","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"listen for exceptions from corrupt text files and recover here","info":"","x":1790,"y":420,"wires":[]},{"id":"9bca80c9.a2f5","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"grab the file name","rules":[{"t":"set","p":"targetfile","pt":"msg","to":"latestFilename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":880,"wires":[["22356c9b.b22494"]]},{"id":"de67b557.0dcb18","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"The flow just below makes a nice debug message in our send failures directory that we can reference later","info":"","x":2000,"y":800,"wires":[]},{"id":"2289ff4f.eeb2f","type":"function","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"increase the count of messages sent today","func":"var azureMsgsToday = global.get('azureMsgsToday') || 0;\nazureMsgsToday++;\nglobal.set('azureMsgsToday', azureMsgsToday);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2250,"y":880,"wires":[["89395c086bee1d80"]]},{"id":"db017649.99ce88","type":"inject","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"delete azure failures nightly","repeat":"","crontab":"15 00 * * *","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":320,"y":1360,"wires":[["739249bd.4d5958"]]},{"id":"780f3479.2201ec","type":"fs-ops-delete","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"delete errors","path":"/home/pi/share/locate/azureSendFailures","pathType":"str","filename":"files","filenameType":"msg","x":730,"y":1360,"wires":[[]]},{"id":"739249bd.4d5958","type":"fs-ops-dir","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"get all files","path":"/home/pi/share/locate/azureSendFailures","pathType":"str","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":550,"y":1360,"wires":[["780f3479.2201ec"]]},{"id":"8d43407f081ccda2","type":"credentials","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"azure credentials","props":[{"value":"user","type":"msg"},{"value":"password","type":"msg"},{"value":"server","type":"msg"},{"value":"database","type":"msg"},{"value":"url","type":"msg"}],"x":270,"y":860,"wires":[["71120dae.809004"]]},{"id":"507739a3.f21ab8","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"grab the file name","rules":[{"t":"set","p":"targetfile","pt":"msg","to":"latestFilename","tot":"flow"},{"t":"set","p":"renameFileTimestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":840,"wires":[["aefc1a45.1654d8"]]},{"id":"aefc1a45.1654d8","type":"function","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"create new filename","func":"const now = Date.now();\n\nmsg.renameFileTimestamp = `999-${now}`\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":840,"wires":[["dce9cde3.abc45"]]},{"id":"dce9cde3.abc45","type":"fs-ops-move","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"move file","sourcePath":"/home/pi/share/locate/sending/","sourcePathType":"str","sourceFilename":"targetfile","sourceFilenameType":"msg","destPath":"/home/pi/share/locate/sending/","destPathType":"str","destFilename":"renameFileTimestamp","destFilenameType":"msg","link":false,"x":1780,"y":840,"wires":[["1b790c0a.fb8864"]]},{"id":"1b790c0a.fb8864","type":"function","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"drop entire message down one level","func":"var theMsg = JSON.stringify(msg);\nmsg.text = theMsg;\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":840,"wires":[["11b654f6.47b4db"]]},{"id":"11b654f6.47b4db","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"re-arrange","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.error","pt":"msg","to":"text","tot":"msg"},{"t":"set","p":"targetfile","pt":"msg","to":"latestFilename","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2290,"y":840,"wires":[["89cf8506.77e1a8"]]},{"id":"89cf8506.77e1a8","type":"moment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"record time","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss A","locale":"en_US","output":"payload.dateTime","outputType":"msg","outTz":"America/Chicago","x":2470,"y":840,"wires":[["cffb32.6bfdb4d"]]},{"id":"cffb32.6bfdb4d","type":"json","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"convert to string","property":"payload","action":"str","pretty":false,"x":2660,"y":840,"wires":[["aaced647.f30b08"]]},{"id":"aaced647.f30b08","type":"template","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"create the filepath for our debug message","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/share/locate/azureSendFailures/{{targetfile}}_err.txt","output":"str","x":2940,"y":840,"wires":[["69fdbf88.8f91f"]]},{"id":"69fdbf88.8f91f","type":"file","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"create text file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":3220,"y":840,"wires":[["fc8c847f.828be8"]]},{"id":"fc8c847f.828be8","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"set ourselves as not sending to azure","rules":[{"t":"set","p":"sendingToAzure","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":3490,"y":840,"wires":[["7d5ab5d0.da2e9c"]]},{"id":"7d5ab5d0.da2e9c","type":"debug","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3730,"y":840,"wires":[]},{"id":"ea2acf09d9efb24b","type":"inject","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"manual inject for debugging","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":380,"wires":[["36ab7bca.4019d4"]]},{"id":"7c37cac325eb7947","type":"switch","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"are there files in the directory?","property":"$count(msg.files)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":320,"wires":[["7456754dd085a89d"],["455b2c4ea15e4e6c"]]},{"id":"455b2c4ea15e4e6c","type":"change","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"set msg.targetfile","rules":[{"t":"set","p":"targetfile","pt":"msg","to":"files[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":320,"wires":[["626fb033.02094"]]},{"id":"7456754dd085a89d","type":"change","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"set ourselves as not sending to azure","rules":[{"t":"set","p":"sendingToAzure","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":280,"wires":[["6f67eb4c14c936f4"]]},{"id":"89395c086bee1d80","type":"debug","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2510,"y":880,"wires":[]},{"id":"452b799d8075aba2","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"set msg.filenameTimestamp","rules":[{"t":"set","p":"filenameTimestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1140,"wires":[["e155abd207ecd666"]]},{"id":"e155abd207ecd666","type":"template","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"set msg.filename","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/share/locate/logs/{{logLocation}}/{{filenameTimestamp}}.json","output":"str","x":1170,"y":1140,"wires":[["2713fd5bc71fc622"]]},{"id":"2713fd5bc71fc622","type":"json","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"convert to string","property":"payload","action":"str","pretty":false,"x":1360,"y":1140,"wires":[["ccd9bd678fa46efc"]]},{"id":"ccd9bd678fa46efc","type":"file","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"create txt file in sending directory","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1600,"y":1140,"wires":[["fb5925f160ad79df"]]},{"id":"83d77a74ce8b2128","type":"comment","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"temporary debugging to see sql requests actually sent from Locate","info":"","x":300,"y":1320,"wires":[]},{"id":"fb5925f160ad79df","type":"debug","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":1140,"wires":[]},{"id":"8477cf4e90f93e5a","type":"function","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"stringify entire message into msg.payload","func":"let theMsg = JSON.stringify(msg);\nmsg.payload = theMsg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1140,"wires":[["452b799d8075aba2"]]},{"id":"b3e8d2469b6f2ea9","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"","rules":[{"t":"set","p":"logLocation","pt":"msg","to":"azureSentRequestsLogs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1140,"wires":[["8477cf4e90f93e5a"]]},{"id":"7946c04577a9a3d2","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"","rules":[{"t":"set","p":"logLocation","pt":"msg","to":"azureResponseLogs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1100,"wires":[["8477cf4e90f93e5a"]]},{"id":"052774324f3f12de","type":"change","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"","rules":[{"t":"set","p":"logLocation","pt":"msg","to":"azureSendingDeletesLog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1040,"wires":[["8477cf4e90f93e5a"]]},{"id":"b2ae37a0ba25be7d","type":"template","z":"4c259874a7fb723c","g":"253474c140e97b38","name":"set msg.filename","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/home/pi/share/locate/logs/azureSentRequestsLogs/{{filenameTimestamp}}.txt","output":"str","x":1170,"y":1200,"wires":[[]]},{"id":"d0839bb896c8bfee","type":"debug","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":360,"wires":[]},{"id":"f9be834ba8eaa3ee","type":"debug","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":400,"wires":[]},{"id":"6f67eb4c14c936f4","type":"debug","z":"4c259874a7fb723c","g":"4173b511253aa7b1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1930,"y":280,"wires":[]}]